html:not([data-scroll='0']) nav {
    background-color: rgba(255, 255, 255, .92);
}

.navbar {
    background-color: rgba(255, 255, 255);
    z-index: 1;
}

.navbar-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}